* {
    box-sizing: border-box;
  }
  h1{
      text-align: center;
      font-weight: bold;
      font-size: 50px;
  }

  div{

    border: 5px double;
    text-align: center;
    margin-left: 50px;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #liftImg{
      width: 250px;
      height: 250px;

      border:5px solid pink;

}

  #middleImg{
    width: 250px;
    height: 250px;

    border:5px solid rgb(138, 44, 138);

  }
  #rightImg{
    width: 250px;
    height: 250px;

    border:5px solid plum;

  }
  span{
    /* display: none; */
      /* display: inline block; */
    /* display: inline;
    height: 50px; */
      /* padding-top: 50px;
      margin-left: 50px; */
      /* text-align: center;
      font-weight: bold;
      background-color:rgb(255, 255, 0); */

      display: inline; 
      width: 100px;
      height: 100px;
      padding: 5px;
      border: 1px solid blue;  
      background-color: yellow; 

  }
  li{
      text-align: center;
      margin-top: 50px;
      margin-left: 20px;
  }
 


  





  #myChart{
  width:1000px !important;
  height:700px !important;

}
  
#result{
text-align: center;  
word-spacing: 5px;
}


#busgif{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button{
  margin: 0;
  position: absolute;
  top: 150%;
  margin-left: 700px; 
  color: black;
  background-color: orangered;
  box-shadow: 0 9px #999;
  -ms-transform: translateY(-50%);
  transform: translateY(-60%);
  justify-content: center;
  height: 50px;
  align-items: center;}
  button:hover {opacity: 1}
  button:active {
    background-color:orange;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }